@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: #f7f7f7;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   margin: 0;
   font-family: 'Poppins', sans-serif;
 }

.container {
   max-width: 500px;
   margin: 30px auto;
   overflow: auto;
   min-height: 300px;
   border: 1px solid steelblue;
   padding: 30px;
   border-radius: 5px;
}

.container .header {
   text-align: center;
}

.header {
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}

.btn {
   display: block;
   background-color: #000;
   color: #fff;
   border: none;
   padding: 10px 20px;
   margin: 5px;
   border-radius: 5px;
   cursor: pointer;
   text-decoration: none;
   font-size: 15px;
   font-family: inherit;
}

.btn:focus {
   outline: none;
}

.btn:active {
   transform: scale(0.98);
}
.btn-hover {
   cursor: pointer;
}

.btn-block {
   display: block;
   width: 100%;
}

.list {
   list-style-type: none;
   padding: 0;
   margin-bottom: 40px;
}

.list li {
   background-color: #fff;
   box-shadow: var(--box-shadow);
   color: #333;
   display: flex;
   justify-content: space-between;
   padding: 10px;
   margin: 10px 0;
}

.list p {
   top: 40px;
   display: block;
}

.list .task-item {
   width: 60%;
   display: block;
   float: left;
}

.list .task-action {
   width: 40%;
   display: block;
   float: right;
   text-align: right;
   position: relative;
}

.list .task-action .delete-btn {
   width: 20%;
   font-size: 125%;
   float: right;
   display: block;
   color: rgb(190, 42, 42);
}

.list .task-action .edit-btn {
   width: 20%;
   font-size: 125%;
}

.task {
   background: #f4f4f4;
   margin: 5px;
   padding: 10px 20px;
}

.task h3 {
   display: inline-block;
   align-items: center;
   justify-content: space-between;
}

label {
   display: inline-block;
   margin: 10px 0;
}

.add-form {
   margin-bottom: 40px;
}

.form-control {
   margin: 20px 0;
}

.form-control label {
   display: block;
}

.form-control input {
   width: 100%;
   height: 40px;
   margin: 5px;
   padding: 3px 7px;
   font-size: 17px;
}

.form-control select {
   width: 100%;
   height: 40px;
   margin: 5px;
   padding: 3px 7px;
   font-size: 17px;
}

.form-control .hour-minute {
   width: 50%
}

.form-control .hour {
   width: 40%;
   display: inline-block;
}

.form-control .minute {
   width: 40%;
   float: right;
}

.form-control .date-label {
   text-align: center;
}

.calendar-date {
   margin-top: 20px;
}

.react-calendar {
   margin: auto;
}